.row {
    display: table;
    flex-wrap: wrap;
    padding: 4px;
  }
  
  .column {
    /* flex: 30%; */
    max-width: 30%;
    padding: 4px;
    float: left;
  }

  .thumb {
      width: 100%;
      height: 200px;
  }

  .column img {
    margin-top: 4px;
    vertical-align: middle;
  }